/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [eShopDatabase]    Script Date: 9/15/2017 3:54:31 PM ******/
CREATE DATABASE [eShopDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eShopDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\eShopDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eShopDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\eShopDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eShopDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eShopDatabase]
GO
USE [eShopDatabase]
GO
/****** Object:  Table [dbo].[CatalogBrands]    Script Date: 9/15/2017 3:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogBrands](
	[Id] [int] NOT NULL,
	[Brand] [varchar](50) NULL,
 CONSTRAINT [PK_CatalogBrands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogItems]    Script Date: 9/15/2017 3:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogItems](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Picture] [varbinary](max) NULL,
	[CatalogBrandId] [int] NOT NULL,
	[CatalogTypeId] [int] NOT NULL,
 CONSTRAINT [PK_CatalogItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogItemsStock]    Script Date: 9/15/2017 3:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogItemsStock](
	[Date] [date] NOT NULL,
	[CatalogItemId] [int] NOT NULL,
	[AvailableStock] [int] NOT NULL,
	[StockId] [int] NOT NULL,
 CONSTRAINT [PK_CatalogItemsStock] PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogTypes]    Script Date: 9/15/2017 3:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogTypes](
	[Id] [int] NOT NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK_CatalogTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [FK_CatalogItems_CatalogBrands]    Script Date: 9/15/2017 3:54:31 PM ******/
CREATE NONCLUSTERED INDEX [FK_CatalogItems_CatalogBrands] ON [dbo].[CatalogItems]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_CatalogItems_CatalogTypes]    Script Date: 9/15/2017 3:54:31 PM ******/
CREATE NONCLUSTERED INDEX [FK_CatalogItems_CatalogTypes] ON [dbo].[CatalogItems]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CatalogItemsStock]  WITH CHECK ADD  CONSTRAINT [FK_CatalogItemsStock_CatalogItems] FOREIGN KEY([StockId])
REFERENCES [dbo].[CatalogItemsStock] ([StockId])
GO
ALTER TABLE [dbo].[CatalogItemsStock] CHECK CONSTRAINT [FK_CatalogItemsStock_CatalogItems]
GO
USE [master]
GO
