<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/eShopServiceLib/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogService"
                contract="eShopServiceReference.ICatalogService" name="BasicHttpBinding_ICatalogService" />
        </client>
    </system.serviceModel>
</configuration>