<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICatalogService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62314/CatalogService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICatalogService"
                contract="eShopServiceReference.ICatalogService" name="WSHttpBinding_ICatalogService">
                <identity>
                    <userPrincipalName value="crwilhit@redmond.corp.microsoft.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>