<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="eShopServiceLibrary.CatalogService" behaviorConfiguration="mexBehavior">
        <endpoint address="/CatalogService"
          binding = "basicHttpBinding"
          contract="eShopServiceLibrary.ICatalogService" />

        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:83" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>